#root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    font-family: 'Press Start 2P';
}


body {
    background-color: black;
    padding: 0;
    margin: 0;
}